@mixin respond($width) {
  @if $width == tab-land {
    @media only screen and (max-width: 75em) {
      @content;
    }
  }
  @if $width == tab-port {
    @media only screen and (max-width: 56.25em) {
      @content;
    }
  }
  @if $width == phone {
    @media only screen and (max-width: 37.5em) {
      @content;
    }
  }
  @if $width == phone-small {
    @media only screen and (max-width: 31.25em) {
      @content;
    }
  }
}

@mixin dropdown-properties {
  position: relative;
  height: 100%;
  z-index: 5;

  &:hover .dropdown-content {
    visibility: visible;
    opacity: 1;
    top: 100%;
  }

  &:hover .user-nav__icon-box {
    transform: translateY(-2px);
  }
}
