* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; //1rem equal 10 px, with default font size of 16px

  @include respond(tab-land) {
    font-size: 50%;
  }
}

a,
a:visited,
a:link {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: "Open Sans", sans-serif;
  color: var(--color-grey-dark-2);
  font-weight: 400;
  line-height: 1.6;

  background-image: linear-gradient(
    to right bottom,
    var(--color-primary-light),
    var(--color-primary-dark)
  );
  background-size: cover;
  background-repeat: no-repeat;
}
